<form class="main-form col-12 col-lg-8 text-center" method="POST" action="{{ url_for('add_testimonial')}}" enctype="multipart/form-data">
        
    <div class="">
                
         <!-- image -->
            <div class="form-group">
                <i class=""></i>
                <label for="image">Image</label>
                <input type="file" name="image" id="image" class="form-control" required>
            </div>
        
                <div class="form-group">
            <i class="fas fa-cog"></i>
            <label for="user_name">Name</label>
            <input type="text" name="user_name" id="user_name" minlength="3" maxlength="50" 
                class="form-control validate" required>
            </div>
        
        <!-- description -->
        <div class="form-group">
            <i class="fas fa-star"></i>
            <label for="testimonial_description">Description</label>
            <input type="text" name="testimonial_description" id="testimonial_description" class="form-control" required>
        </div>
        <!-- submit button -->
        <button type="submit" class="btn  btn-register"><i class="fas fa-check"></i> Add </button><br>
            <!-- cancel button -->   
            <a href="{{ url_for('dashboard', username=session['user']) }}" class="register-cancel"><i class="fas fa-times"></i> Cancel <i class="fas fa-cancel"></i></a>
        </div>
    </form>
     