<form class="main-form col-12 col-lg-8 text-center" method="POST"
        action="{{ url_for('edit_testimonial', testimonial_id=testimonial._id)}}" enctype="multipart/form-data">

        <div class="">
            <!-- image -->
            <div class="form-group">
                <i class=""></i>
                <label for="image"><i class="fas fa-camera"></i> Image</label><br>
                <img id="testimonial_img" src="/{{testimonial.image_path}}" width="50" height="50">
                <input type="file" name="image" id="image" class="form-control">
            </div>
            <!-- name -->
            <div class="form-group">
                <i class="fas fa-cog"></i>
                <label for="user_name">Name</label>
                <input type="text" name="user_name" id="user_name" minlength="3" maxlength="50"
                    class="form-control validate" value="{{testimonial.user_name}}" required>
            </div>

            <!-- description -->
            <div class="form-group">
                <i class="fas fa-star"></i>
                <label for="testimonial_description">Description</label>
                <input type="text" name="testimonial_description" id="testimonial_description" class="form-control"
                    value="{{testimonial.testimonial_description}}" required>
            </div>
            <!-- submit button -->
            <button type="submit" class="btn  btn-register"><i class="fas fa-check"></i> Add </button><br>
            <!-- cancel button -->
            <a href="{{ url_for('dashboard', username=session['user']) }}" class="register-cancel"><i
                    class="fas fa-times"></i> Cancel <i class="fas fa-cancel"></i></a>
        </div>
    </form>