{% extends "layout/base.html" %}
{% block content %}
<!-- Hello Section -->
<div class="hero-area" id="hello">
    <div class="row">
        <div class="col-12 col-lg-11">
            <div class="hero-text">
                <h3>Hello there, I'm</h3>
                <h1 class="ml10">
                    <span class="text-wrapper">
                        <span class="letters noanimate">Tanja Godinic<br></span>
                    </span>
                </h1>
                <h2>Full Stack Software Developer</h2>
                <br>
                <div class="home-content__scroll">
                    <a href="#about-me" class="scroll-link smoothscroll">
                        <span>Scroll Down <i class="fas fa-angle-double-down"></i></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-1 d-sm-none d-xs-none d-md-block d-md-1">
            <div class="socials">
                <div><a href="https://www.twitter.com" class="social" target="_blank" rel="noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="40" height="40"
                            viewBox="0 0 24 24">
                            <path
                                d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
                        </svg>
                    </a>                </div>
                <br>
                <div><a href="https://www.github.com/tanya-go" class="social" target="_blank" rel="noreferrer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="40" height="40"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                        </svg>
                    </a></div>
                <br>
                <div><a href="https://www.linkedin.com/in/tanja-godinic/" target="_blank" rel="noreferrer"
                        class="social">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" width="40" height="40"
                            viewBox="0 0 24 24">
                            <path
                                d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                        </svg>
                    </a></div>
            </div>
        </div>
    </div>
</div>


<!-- About Me -->
<section class="about-section container" id="about-me">
    <div class="row">

        <div class="col-12 col-lg-6">
            <img class="headshot" src="{{ url_for('static', filename ='images/headshot.jpg') }}"
                alt="Tanja Godinic headshot" />
        </div>

        <div class="col-12 col-lg-6  information">
            <h2 class="title text-center">About Me</h2>
            <div class="divider div-transparent"></div>
            <p>Hello! My name is Tanja. I enjoy creating beautiful websites and apps.
                I'm a Full Stack Developer with a diverse life and technical experience that I bring
                to every project.
                I work quickly and effectively in getting things built and working across the stack. I'm an excellent
                communicator who
                thrives in bright and enthusiastic teams and I'm aslo a self starter when working solo.
                I love discussing different project ideas, feel free to contact me about your project to see how I can
                help.
            </p>
        </div>

        <!-- Education -->
    </div>
    <br><br>
    <section class="education-container" id="education">
        <div class="row">
            <div class="col-12">
                <h2 class="title-edu text-center">Education</h2>
                <div class="divider div-transparent"></div>
            </div>
        </div>
        <div class="row edu text-center">
            <div class="col-12 col-md-5 code-institute">
                <h4>Code Institute</h4>
                <h5><span class="degree">Diploma in Software Development</h5></span>
                <h5 id="year">2020 - 2021</h5>
            </div>

            <div class="col-12 col-md-5 university">
                <h4>Faculty of Economics and Business</h4>
                <h5><span class="degree">Masters Degree Marketing</h5></span>
                <h5>2001 - 2006</h4>
            </div>
        </div>
    </section>
    <!-- Skills -->
    <div class="container skills-container " id="skills">
        <div class="row">
            <div class="col">
                <h2 class="title-skills text-center">Skills</h2>
                <div class="divider div-transparent"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3 class="category-title-fb text-center">Frontend</h3>
                <ul class="skill-list text-center">
                    {% for skill in skills %}
                    {% if skill.category_title == "Frontend" %}
                    <li data-id="{{skill._id}}">
                        <img src="{{cdn}}/{{skill.image_path}}" width="25" height="25" alt="skill logo">
                        {{skill.skill_title}}

                        {% if is_admin or skill.created_by == username %}
                        <a href="{{ url_for ('edit_skill', skill_id=skill._id)}}" data-toggle="tooltip"
                            data-placement="bottom" title="Edit"> <i class="fas fa-edit"></i></a>
                        <a href="{{ url_for ('delete_skill', skill_id=skill._id)}}" data-toggle="tooltip"
                            data-placement="bottom" title="Delete"> <i class="fas fa-trash"></i></a>
                        {% endif %}
                    </li>

                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 col-lg-4">
                <h3 class="category-title-fb text-center">Backend</h3>
                <ul class="skill-list text-center">
                    {% for skill in skills %}
                    {% if skill.category_title == "Backend" %}
                    <li data-id="{{skill._id}}">
                        <img src="{{cdn}}/{{skill.image_path}}" width="25" height="25" alt="skill logo">
                        {{skill.skill_title}}

                        {% if is_admin or skill.created_by == username %}
                        <a href="{{ url_for ('edit_skill', skill_id=skill._id)}}" data-toggle="tooltip"
                            data-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
                        <a href="{{ url_for ('delete_skill', skill_id=skill._id)}}" data-toggle="tooltip"
                            data-placement="bottom" title="Delete"> <i class="fas fa-trash"></i></a>
                        {% endif %}
                    </li>

                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 col-lg-4">
                <h3 class="category-title text-center">Libraries & Frameworks</h3>
                <ul class="skill-list text-center">
                    {% for skill in skills %}
                    {% if skill.category_title == "Libraries & Frameworks" %}
                    <li data-id="{{skill._id}}">
                        <img src="{{cdn}}/{{skill.image_path}}" width="25" height="25" alt="skill logo">
                        {{skill.skill_title}}

                        {% if is_admin or skill.created_by == username %}
                        <a href="{{ url_for ('edit_skill', skill_id=skill._id)}}" data-toggle="tooltip"
                            data-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
                        <a href="{{ url_for ('delete_skill', skill_id=skill._id)}}" data-toggle="tooltip"
                            data-placement="bottom" title="Delete"> <i class="fas fa-trash"></i></a>
                        {% endif %}
                    </li>

                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Projects -->

<div class="container project-container" id="projects">
    <div class="row">
        <div class="col">
            <h2 class="title text-center">My Projects</h2>
            <div class="divider div-transparent"></div>
        </div>
    </div>
    <div class="row project-cards">
        <div class="col-12 col-md-5 col-lg-5 project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/pro1.jpg') }}" alt="Project Image" />
            <h5 class="project-name">Movie Trivia Extravaganza</h5>
            <p class="subtext text-center">This is a movie quiz app created using Javascript and an API for the quiz
                questions.
                The idea was to create a fun and engaging game while also containing interesting movie
                trivia and quotes to upgrade your movie knowledge. Project was awared a merit grade
                from Code Institute.
            </p>
            <hr />
            <p class="subtext text-center"><a class="project-link" href="https://tanya-go.github.io/Movie-Quiz/"
                    target="_blank" rel="noreferrer">View Website</a>
            </p>
            <p class="subtext text-center"><a class="project-link" href="https://github.com/TanYa-Go/Movie-Quiz"
                    target="_blank" rel="noreferrer">View Repo</a>
            </p>
            <hr />
            <div class="stack">
                HTML
            </div>
            <div class="stack">
                CSS
            </div>
            <div class="stack">
                Bootstrap
            </div>
            <div class="stack">
                Javascript
            </div>
            <div class="stack">
                jQuery
            </div>
            <div class="stack">
                JSON
            </div>
            <div class="stack">
                Git
            </div>
            <div class="stack">
                Github
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/pro2.jpg') }}" alt="Project Image" />
            <h5 class="project-name">Portfolio Website</h5>
            <p class="subtext text-center">
                My own personal portfolio website. It contains a hidden admin dashboard where admin can access
                the options to edit parts the page - Skills and Testimonials. In the future, same features will
                be added for Projects, Education and Experience sections.
            </p>
            <hr />
            <p class="subtext text-center"><a class="project-link" href="https://tanjag-portfolio.herokuapp.com/"
                    target="_blank" rel="noreferrer">View Website</a>
            </p>
            <p class="subtext text-center"><a class="project-link" href="https://github.com/TanYa-Go/TanjaG.Portfolio"
                    target="_blank" rel="noreferrer">View Repo</a>
            </p>
            <hr />
            <div class="stack">
                HTML
            </div>
            <div class="stack">
                CSS
            </div>
            <div class="stack">
                Bootstrap
            </div>
            <div class="stack">
                Javascript
            </div>
            <div class="stack">
                jQuery
            </div>
            <div class="stack">
                Python
            </div>
            <div class="stack">
                Flask
            </div>
            <div class="stack">
                MongoDB
            </div>
            <div class="stack">
                Github
            </div>
            <div class="stack">
                Heroku
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5 col-lg-5 project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/pro3.jpg') }}" alt="Project Image" />
            <h5 class="project-name">Women in Technology</h5>
            <p class="subtext text-center">This is an app that I created together with a team of four people during the
                Women in Tech Hackaton. We decided to create a quiz that will help women decide which career in tech
                industry
                is right for them. We were the runners up with this project.
            </p>
            <hr />
            <p class="subtext text-center"><a class="project-link"
                    href="https://crypticcaroline.github.io/womenscareers/" target="_blank" rel="noreferrer">View
                    Website</a>
            </p>
            <p class="subtext text-center"><a class="project-link" href="https://github.com/TanYa-Go/womenscareers"
                    target="_blank" rel="noreferrer">View Repo</a>
            </p>
            <hr />
            <div class="stack">
                HTML
            </div>
            <div class="stack">
                CSS
            </div>
            <div class="stack">
                Bootstrap
            </div>
            <div class="stack">
                Javascript
            </div>
            <div class="stack">
                jQuery
            </div>
            <div class="stack">
                Git
            </div>
            <div class="stack">
                Github
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5 project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/pro4.jpg') }}" alt="Project Image" />
            <h5 class="project-name">Eleventh Embodiment</h5>
            <p class="subtext text-center">This is a static website created for a dear friend of mine who is a yoga
                teacher and an alternative healer. The site promotes her work, her classes and different events. People
                can contact her to enquire about her services and easily find her on social media to connect.
            </p>
            <hr />
            <p class="subtext text-center"><a class="project-link"
                    href="https://tanya-go.github.io/eleventh-embodiment/" target="_blank" rel="noreferrer">View
                    Website</a>
            </p>
            <p class="subtext text-center"><a class="project-link"
                    href="https://github.com/TanYa-Go/eleventh-embodiment" target="_blank" rel="noreferrer">View
                    Repo</a>
            </p>
            <hr />
            <div class="stack">
                HTML
            </div>
            <div class="stack">
                CSS
            </div>
            <div class="stack">
                Bootstrap
            </div>
            <div class="stack">
                Git
            </div>
            <div class="stack">
                Github
            </div>
        </div>
    </div>
</div>

<!-- Testimonials-->
<section class="container testimonials-container" id="testimonials">
    <div class="row">
        <div class="col">
            <h2 class="title text-center">Testimonials</h2>
            <div class="divider div-transparent"></div>
        </div>
    </div>
    <div class="row text-center">
        {% for testimonial in testimonials %}
        <div class="col-lg-4 ">
            <br>
            <img src="{{cdn}}/{{testimonial.image_path}}" class="testi-img" alt="Image of the person that wrote review">
            <br><br>
            <h3 class="user-name">{{testimonial.user_name}}</h3>
            <p>{{testimonial.testimonial_description}}</p>
            <br>
            {% if is_admin or testimonial.created_by == username %}
            <a href="{{ url_for ('edit_testimonial', testimonial_id=testimonial._id)}}" class="bin"
                data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fas fa-edit"></i></a>
            <a href="{{ url_for ('delete_testimonial', testimonial_id=testimonial._id)}}" class="bin"
                data-toggle="tooltip" data-placement="bottom" title="Delete"> <i class="fas fa-trash"></i></a>
            {% endif %}
        </div>
        {% endfor %}

    </div>
</section>

</body>

</html>

{% include "layout/footer.html" %}
{% endblock %}