.main-form-dash {
    margin-top: 120px;
    margin-bottom: 50px;
    background-color: #3b0432;
}

.main-form-dash-add {
    width: 30%;
    margin-left: 190px;
    margin-top: 20px;
    padding: 30px 30px;
    font-size: 30px;
    color: #fafafa;
    border-radius: 20px;
    background-color: #3b0432;
    box-shadow: 5px 5px 5px #0f0f12,

}

.main-form-dash-edit {
    width: 30%;
    margin-left: 80px;
    margin-top: 20px;
    padding: 30px 30px;
    font-size: 30px;
    color: #fafafa;
    border-radius: 20px;
    background-color: #3b0432;
    box-shadow: 5px 5px 5px #0f0f12,

}

.main-form-dash-add, 
.main-form-dash-edit,
  a:hover {
    border-bottom-style: none;
    color: rgb(233, 76, 29);
}


.fa-plus,
.fa-edit,
.fa-exclamation {
    color: rgb(233, 76, 29);
}

@media (min-width: 200px) and (max-width: 576px) {

    /* .main-form-dash-add {
        width: 50%;
        font-size: 20px;
    }

    .main-form-dash-edit{
        width: 50%;
        font-size: 20px;
    } */

}



@media only screen and (max-width: 1000px) {

    .main-form-dash-add {
        width: 50%;
        font-size: 20px;
    }

    .main-form-dash-edit{
        width: 50%;
        font-size: 20px;
    }

}