.main-form-dash {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #3b0432;
}

.main-form-dash-add {
    width: 30%;
    margin-left: 190px;
    margin-top: 20px;
    padding: 30px 30px;
    font-size: 30px;
    color: #fafafa;
    border-radius: 20px;
    background-color: #3b0432;
    /* background: linear-gradient(225deg, #28282f, #212128); */
    box-shadow:  5px 5px 5px #0f0f12,
                 
  }



  .fa-plus, .fa-edit, .fa-exclamation {
      color: rgb(233, 76, 29);
  }

  @media only screen and (max-width: 1000px) {

    .main-form-dash-add {
        width: 70%;
        font-size: 20px;
    }
    
  }