
.main-form-dash {
    margin-top: 130px;
    margin-bottom: 50px;
    background-color: #3b0432;
    color: rgb(233, 76, 29);
    text-transform: uppercase;
    box-sizing: content-box;
    
}

.main-form-dash-add {
    width: 30%;
    margin-top: 20px;
    padding: 30px 30px;
    font-size: 30px;
    color: #fafafa;
    border-radius: 20px;
    background-color: #3b0432;
    box-shadow: 5px 5px 5px #0f0f12,

}

.main-form-dash-edit {
    width: 30%;
    margin-left: 30px;
    margin-top: 20px;
    padding: 30px 30px;
    font-size: 30px;
    color: #fafafa;
    border-radius: 20px;
    background-color: #3b0432;
    box-shadow: 5px 5px 5px #0f0f12,

}

.main-form-dash-add, 
.main-form-dash-edit,
  a:hover {
    border-bottom-style: none;
    color: rgb(233, 76, 29);
}


.fa-plus,
.fa-edit,
.fa-exclamation {
    color: rgb(233, 76, 29);
}

@media (min-width: 320px) and (max-width: 576px) {

    .main-form-dash-add a {
       font-size: 20px;
       
    }

    .main-form-dash-edit a {
        font-size: 20px;
        
     }

    .main-form-dash-edit{
        font-size: 20px;
        margin-left:  0;
    }

}

@media (min-width: 577px) and (max-width: 768px) {

    .main-form-dash-add a {
        font-size: 25px;
        
     }
     .main-form-dash-edit a {
        font-size: 25px;
        
     }
     .main-form-dash-edit{
         font-size: 20px;
         margin-left:  0;
     }
 

}

@media (min-width: 769px) and (max-width: 992px) {

    .main-form-dash-add a {
        font-size: 27px;
        
     }
     .main-form-dash-edit a {
        font-size: 27px;
        
     }
    
 

}