body {
    background-color: #25252c;
}

.title-register {
    margin-top: 130px;
    color: #fafafa;
    background-color: #25252c;
    margin-bottom: 20px;
  }
  .main-form {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 30px 80px;
    font-size: 30px;
    color: #fafafa;
    border-radius: 36px;
    background: linear-gradient(225deg, #28282f, #212128);
    box-shadow:  -25px 25px 50px #0f0f12,
                  25px -25px 50px #3b3b46;
  }
  
  
  .btn-register {
     background-color: rgb(233, 76, 29);
     font-size: 20px;
     width: 30%;
  
  }

  .form-control {
    background-color: #25252c;
    color:rgb(233, 76, 29);
        border-top:  coral;
    border-left: coral;
    border-right: coral;
  }