@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}


#background-img {
  background-color: #3b0432;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f27d00' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e55f00' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d84400' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23cb2c00' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23bf1600' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23b20300' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23a5000e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2398001c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%238b0027' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237e0030' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23710037' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2364003b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2358003c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234b003a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0037' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23310030' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}



/* Navbar */

ul {
  display: flex;
  list-style-type: none;
  justify-items: flex-end;
  font-size: 20px;
  text-transform: uppercase;

}

.navbar-dark {
  background-color: #3b0432;

}

.hide {
  animation: hide 0.6s ease forwards;
}

@keyframes hide {
  100% {
    transform: translateY(-100%);
  }
}

.unhide {
  animation: unhide 0.6s ease forwards;
}

@keyframes unhide {
  0% {
    transform: translateY(-100%);
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(243, 96, 51);
  margin-top: 15px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(240, 203, 192);
  text-decoration: none;
}

/* Hello there section */

.title {
  margin-top: 5px;
  color: #e4dede;
  text-transform: uppercase;
  margin-bottom: 45px;
}


.hero-area {
  height: 100%;
  align-items: center;
  padding: 50px 50px;
}


.hero {
  background-color: #1c1d25;
  height: 80vh;
  font-size: 30px;
  color: #fafafa;
}

.hero-text {
  margin-top: 150px;
  margin-left: 80px;
  margin-bottom: 200px;
  padding: 80px;

}

.hero-text h1 {
  font-size: 90px;

}

.hero-text h3 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 30px;
  color: #fafafa;
}

.hero-text h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 40px;
}

/* Scroll down button  */

.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 120rem;
  width: 95%;
}


.home-content__scroll a {
  font-family: 'montserrat-semibold', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  padding-right: 2rem;
  text-decoration: none;
}

.smoothscroll i {
  color: rgb(243, 96, 51);
}

/* Social icons */

.socials {
  padding-bottom: 200px;
  margin-top: 300px;
  padding-right: 0px;
}


.social {
  margin: 20px;
}


h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 40px;
  color: #fafafa;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;

}

/*  About Section */

.information {
  padding-left: 30px;
  margin-top: 50px;
}

.information p {
  text-align: justify;
  font-size: 20px;
  padding: 20px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #e4dede;
  text-shadow: 2px 2px 2px black;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}



.about-section {
  margin: auto;
  padding: 60px;
  background-color: #74042f;
  border-radius: 20px;
  margin-bottom: 100px;
  box-shadow: 5px 5px 20px black;

}

.headshot {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #7e0030;
  margin-top: 60px;

}

/* Projects */


.project-container {
  width: 100%;
  border-radius: 20px;
  padding: 30px;
  background-color: #7e0030;
  margin: auto;
  box-shadow: 5px 5px 20px black;
}


.project-card {
  margin-left: 30px;
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 20px black;
  border-radius: 10px;
  background-color: #e4dede;

}

.project-image {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 20px;

}

.project-name {
  color: rgb(243, 96, 51);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: rgb(243, 96, 51);
}


.stack {
  display: inline-block;
  padding: .35em .65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #e4dede;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  background-color: grey;
  margin-bottom: 5px;
}

/* code for the divider borrowed from codepen https://codepen.io/Oddgson/pen/VPrYbv */
.divider {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(16, 16, 17), transparent);
}


.row {
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

/* Skills */

.skills-container {
  background-color: #e4dede;
  box-shadow: 5px 5px 5px black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 30px;
}

.title-skills {
  margin-top: 20px;
  color: #333;
  padding-top: 5px;
  padding-bottom: 40px;
  text-transform: uppercase;


}

.category-title-fb {
  color: rgb(243, 96, 51);
  margin-bottom: 60px;
  position: relative;
  top: 20px;
}

.category-title {
  color: rgb(243, 96, 51);
  margin-bottom: 30px;
}


.skill-list {
  display: block;
  color: rgb(243, 96, 51);
  text-align: left;
  padding-left: 0px;
}

.skill-img {
  width: 100%;
  height: auto;
}

.skill-list li {
  list-style: none;
  background: rgba(235, 229, 229, 0.986);
  color: #333;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
  letter-spacing: 3px;
  font-family: 'montserrat-medium', sans-serif;
  margin-right: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 34px 16px rgb(115 181 170 / 15%);
}

.skill-list a {
  margin: 5px 0px;

}

.skill-list i {
  color: #5e5b5b;
}


.card-header {
  background-color: #fafafa;
}

.skill-list ul {
  padding-left: 0px;

}

input[type="file"] {
  appearance: none;
  background-color: initial;
  cursor: default;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: center;
  padding: initial;
  border: initial;
  overflow: hidden !important;
  position: relative;
  left: 30%;
  top: 20px;
  margin-bottom: 30px;
  width: auto;
}

.letters {
  color: rgb(243, 96, 51);
}

/* Education */
.title-edu {
  padding-top: 20px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.education-container {
  background-color: #e4dede;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  box-shadow: 5px 0px 5px black;
}

.degree {
  color: rgb(243, 96, 51);
  font-weight: 700;

}

.code-institute,
.university {
  margin-bottom: 15px;
  box-shadow: 0px 0px 34px 12px rgb(115 181 170 / 15%);
  border-radius: 20px;
  padding-top: 20px;
  margin-right: 15px;
}

/* Testimonials */

.testimonials-container {
  margin: auto;
  padding: 60px;
  background-color: #7e0030;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
  box-shadow: 5px 5px 20px black;

}

#testimonials p {
  color: #e4dede;
  font-weight: 600;
  border-radius: 10px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  padding: 20px;
}

.testi-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid rgb(243, 96, 51);
}

.bin {
  color: #1f1d1d;
  margin-left: 10px;
}

.user-name {
  margin-top: 10px;
  color: rgb(243, 96, 51);
}


/* Animated letters */

.ml10 {
  position: relative;
  font-weight: 700;
  font-size: 3em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}


/* Footer */

.contact-container {
  background-color: #3b0432;
  box-shadow: 5px 5px 20px black;
  margin-left: 0px;
  height: max-content;

}

.contact i {
  color: rgb(243, 96, 51);
  font-size: 35px;
  text-shadow: 1px 1px 1px #333;
  margin-bottom: 30px;
}


.contact a {
  color: #fafafa;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact a:hover {
  color: rgb(243, 96, 51);
}

.contact-title {
  font-size: 30px;
  color: rgb(243, 96, 51);
  text-shadow: 3px 3px 3px #333;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 30px;
}

#phone {
  color: #fafafa;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.contact p {
  font-weight: 500;
  color: #fafafa;
  text-shadow: 3px 3px 3px #333;
  margin-bottom: 30px;
}

.contact h6 {
  color: #fafafa;
}

.author {
  margin-top: -10px;
  color: rgb(243, 96, 51);
  padding-bottom: 20px;

}

.fab {
  color: #fafafa;
  margin-left: 30px;
  margin-top: 30px;
}

.fab:hover {
  color: #fafafa
}

.fa-download:hover {
  color: #fafafa;
}

.fa-download {
  margin-top: 20px;
}

/* Add skills page */

.dropdown button {
  width: 100%;
  font-size: 30px;
  margin-bottom: 30px;
  background: linear-gradient(225deg, #28282f, #212128);
}

select {
  width: 100%;
  background-color: #3b0432;
  color: #fafafa;
  text-align-last: center;
  margin-bottom: 40px;
  border-radius: 10px;
}


.select-menu select {
  color: rgb(243, 96, 51);
  font-size: 25px;
}

option:hover {
  background-color: slategray;
}

/* Flash messages */

.flashes {
  color: rgb(243, 96, 51);

}


a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus {
  outline: 0;
}




/* Page 404 and 500 */
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 100px;
}

.error-no,
.center a {
  color: #ff9d00;
}


/* Media queries */

@media (min-width: 320px) and (max-width: 576px) {

  
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 10px;
    align-self: flex-end;
  } 

  .hero-area {
    margin-top: 100px;
    height: 100%;
    align-items: center;
    padding: 50px 10px;
    margin-left: -25px;
  }

  .hero-text {
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 200px;
    padding: 20px;
  }

  .hero-text h3 {
    font-size: 25px;
    margin-top: 20px;
  }

  .hero-text h2 {
    font-size: 30px;
  }

  .hero-text h1 {
    font-size: 50px;

  }

  .letter {
    font-size: 35px;
  }

  .title,
  .title-edu {
    font-size: 30px;
  }

  .information {
    padding-left: 15px;
  }

  #about-me {
    padding: 10px;

  }

  
  .code-institute h4 {
    font-size: 20px;
  }

  .university h4 {
    font-size: 20px;
  }

  .project-card {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .testimonials-container {
    padding: 20px;
  }

  #testimonials p {
    padding: 0;
  }

  .category-title-fb {
    margin-bottom: 30px;
  }

  .flashes {
    font-size: 15px;
  }

  .title-skills {
    font-size: 30px;
  }

  .fa-download {
    margin-top: 20px;
  }

  .author {
    margin-top: -30px;
    padding-bottom: 10px;
  }

  input[type="file"] {
    left: 12%;
  }
  .socials {
    display: none;
  }

  .hide {
    animation: none;
  }
  
  .unhide {
    animation: none;
  }

  .code-institute,
.university {
  padding-top: 20px;
  margin-left: 0px;
}
  
  
}

@media (min-width: 577px) and (max-width: 768px) {

  .code-institute {
    margin-bottom: 20px;
  }

  input[type="file"] {
    left: 20%;

  }

  .hero-text {
    margin-left: 0px;
  }

  .socials {
    display: none;
  }

  .letters {
    font-size: 38px;
  }

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 10px;
    align-self: flex-end;
  }

  .hide {
    animation: none;
  }
  
  .unhide {
    animation: none;
  }
  
  .code-institute,
  .university {
    padding-top: 20px;
    margin-left: 0px;
  }

}

@media (min-width: 769px) and (max-width: 992px) {

  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
  } 


  .letters {
    font-size: 50px;
  }

  .hero-area {
    height: 100%;
    align-items: center;
    padding: 50px 20px;
  } 

  .socials {
    display: none;
  }
 
  .hero-text {
    padding: 50px;
  }

  .hero-text h2 {
    font-size: 35px;
  }

  .skill-list {
    background-color: transparent;
  }

  .code-institute,
  .university {
    padding-top: 20px;
    margin-right: 10px;
  }

}


@media (min-width: 993px) and (max-width: 1200px) {

.headshot {
  margin-top: 150px;
}

.letters {
  font-size: 70px;
 
}

.code-institute,
  .university {
    padding-top: 20px;
    margin-right: 10px;
  }
}

 
