@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

#background-img {
  background-image: url("/static/images/prism.png");
  background-color: #1c1d25;
}

/* section {
  background-color: white;
} */

.section-reg {
  background-color: #1c1d25;
}

.hero-text {
 padding: 80px;
}


.hero {
  background-color: #1c1d25;
  height: 80vh; 
  font-size: 30px;
  color: #fafafa;
}


.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
}

ul {
  display: flex;
  list-style-type: none;
  width: auto;
  justify-content: space-around;
  font-size: 20px;
  margin:auto;
  
}

li {
  text-decoration: none;
  margin-top: 15px;
    
}

li a {
  color: rgb(233, 76, 29);
  margin-right: 10px;
  margin-left: 20px;
}

li a:hover{
  color: #fafafa;
}



.title {
  margin-top: 5px;
  color: #333;
  
}

.title-skills{
  margin-top: -20px;
  color: rgb(233, 76, 29);
  padding-top: 5px;
  padding-bottom: 30px;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
  color: #fafafa;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  
}

.information {
  margin-left: 30px;
}

.information p {
  text-align: justify;
  font-size: 20px;
  padding: 0px 0px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}

.hero-text {
  margin-top: 150px;
  margin-left: 80px;
  margin-bottom: 200px;
  
}

.hero-text h1 {
  font-size: 90px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(233, 76, 29);
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
  text-decoration: none;
  
}

.button:hover {
  background-color: #ef744b;
  
}

.button:active {
  background-color: #A9A9A9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
  margin-top: 300px;
  padding-right: 70px;
}


.logo {
  height: 50px;
  margin: 30px;
  margin-left: 80px;
}
.social {
  margin: 20px;
}

.sub-section {
  margin-right: 80px;
  padding: 60px;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 100px;
 
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: rgb(233, 76, 29);
} 


.headshot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgb(233, 76, 29);
  box-shadow: 7px 7px 7px #5e5b5b;
  }

.headshot-container {
  display: flex;
  align-items: center;
}

/* --Projects --*/

.project-card {
  width: 200px;
  height: 350px;
  box-shadow: 5px 5px 20px black;
  margin: 10px;
  background-color: #fafafa;
  border-radius: 10px;
}

.project-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(233, 76, 29);
  margin-left: 60px;
}

.hr-red {
  border: 1px solid rgb(233, 76, 29);
  width: 220px;
  margin: 20px 0px

}

.hr-black {
  border: 1px solid #333;
  width: 220px;
  margin: 20px 0px

}

/* -----Skills---- */


.category-title {
  color: rgb(233, 76, 29);
  margin-bottom: 30px;
}

.skills-container {
  margin-top: 30px;
  height:fit-content;
  width:max-content;
}

.skill-list {
  display: inline;
  color: rgb(233, 76, 29);
}

.skill-list li {
  margin-top: 5px;
}

.card-header {
  background-color: #fafafa;
}

.editBtn {
  font-size: x-large;
  font-weight: 500;
  color: green;
}

.editBtn:hover {
  color: #333;
}

.letters{
  color: rgb(233, 76, 29);
}



/*-- Testimonials ---*/

.testimonials-container {
  margin-right: 80px;
  padding: 60px;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 100px;

}

#testimonials {
  padding: 70px 40px;
  background-color: #fafafa;
}

#testimonials p{
  color: #333;
  font-size: 20px;
}

#testimonials p{
  color: #333;
  font-size: 20px;
}

.bd-placeholder-img {
  margin-bottom: 20px;
}



/* -- animated letters -- */
.ml10 {
  position: relative;
  font-weight: 700;
  font-size: 3em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.hide {
  display: none;
}



/* -- Footer --*/
footer {
  /* background-image: url("/static/images/prism.png"); */
  
  color: rgb(233, 76, 29);
  text-align: center;
  padding: 35px;
  height: auto;
}
  
.contact-container {
  background-color: rgb(233, 76, 29);
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
  margin-bottom: 70px;

}

.contact i {
  color:#fafafa;
  font-size: 35px;
  text-shadow: 2px 2px 2px #5e5b5b;
}

.contact a {
  color:#333;
}

.contact-title {
  color: #333;
  text-shadow: 2px 2px 2px #5e5b5b;
}

.contact p {
  font-weight: 500;
  color: #333;
  text-shadow: 2px 2px 2px #5e5b5b;
}

.author {
  color: #fafafa;
  margin-bottom: 10px;
}


/* ---- Add skills page--*/

.dropdown button {
  width: 100%;
  font-size: 30px;
  margin-bottom: 30px;
  background: linear-gradient(225deg, #28282f, #212128);
}

.select-menu {
  width: 100%;
  background: linear-gradient(225deg, #28282f, #212128);
  height: 200px;
}

.select-item {
  color:rgb(233, 76, 29);
  font-size: 25px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: slategray;
}

/*------------------- flash messages ----------*/

.flashes {
   color: rgb(233, 76, 29);
  
}


/* ----------------------------------------Media Queries */

@media only screen and (max-width: 1000px) {
  .project-container {
      display: flex;
      flex-wrap: wrap;
  }

}
.project-image {
  width: 100%;
  margin-top: 15px;
  /* width: 200px; */
  margin-bottom: 20px;
  
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: rgb(233, 76, 29);
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
}


@media only screen and (max-width: 1000px) {
  .hamburger {
      display: block;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 30px;
      margin: 20px;
      align-self: flex-end;
  }

  ul {
      display: none;
      background-color: #2b2c38;
      margin: 0ppx;
  }

  ul.show {
      display: block;
  }

  nav {
      display: flex;
      flex-direction: column-reverse;
      background-color: #2b2c38;
  }

  .logo {
      display: none;
  }
}

