@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,400;0,900;1,700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Montserrat;
  

}


#background-img {
background-color: #ff9d00;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f27d00' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e55f00' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d84400' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23cb2c00' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23bf1600' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23b20300' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23a5000e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2398001c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%238b0027' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%237e0030' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23710037' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%2364003b' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2358003c' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234b003a' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0037' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23310030' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
} 

/* section {
  background-color: white;
} */

/* .section-reg {
  background-color: #1c1d25;
} */



/* Navbar */
ul {
  display: flex;
  list-style-type: none;
  /* width: auto; */
  justify-items: flex-end;
  font-size: 20px;
  text-transform: uppercase;
  /* margin: auto; */
  
}

.navbar-dark {
  background-color: #3b0432;
}

.nav-item a{
  color: rgb(233, 76, 29);
  margin-top: 15px;
  
}

li a:hover{
  text-decoration: none;
  color: #fafafa;
} 


.title {
  margin-top: 5px;
  color: #333;
  text-transform: uppercase;
  
}

/* About section */
h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
  color: #fafafa;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  
}

 .information {
  padding-left: 30px;
}

.information p {
  text-align: justify;
  font-size: 20px;
  padding: 0px 0px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  /* display: flex; */
  height: 100%;
  /* justify-content: space-between; */
  align-items: center;
  padding: 50px 50px;
}


 .hero {
   background-color: #1c1d25;
   height: 80vh; 
   font-size: 30px;
   color: #fafafa;
 }

.hero-text {
  margin-top: 150px;
  margin-left: 80px;
  margin-bottom: 200px;
  padding: 80px;
  
}

.hero-text h1 {
  font-size: 90px;
  
}
.hero-text h3 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 30px;
  color: #fafafa;
}

.hero-text h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 40px;
}


/*-- scroll down button -- */
.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 120rem;
  width: 95%;
}


.home-content__scroll a {
  font-family: 'montserrat-semibold', sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
  line-height: 3rem;
  padding-right: 2rem;
  text-decoration: none;
}

.smoothscroll i {
  color: rgb(233, 76, 29);
}
/*-- end scroll down-*/


.socials {
  padding-bottom: 200px;
  margin-top: 300px;
  padding-right: 0px;
}


.social {
  margin: 20px;
}

/*  About Section */
.about-section {
  margin:auto;
  padding: 60px;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 100px;
  box-shadow: 5px 5px 20px black;
 
}

/* .sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: rgb(233, 76, 29);
}  */


.headshot {
  
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgb(233, 76, 29);
  box-shadow: 7px 7px 7px #5e5b5b;
  
  }

.headshot-container {
    display: flex;
  align-items: center;
  margin-top: 80px;
}

/* Projects */

.title-projects {
  margin-top: 5px;
  color: #fafafa;
  text-transform: uppercase;
  
}

.project-card {
  margin-left: auto;
  margin-right:auto;
  height: 350px;
  box-shadow: 5px 5px 20px black;
  background-color: #fafafa;
  border-radius: 10px;
  flex: 0 0 30%;
}

.project-container {
  width: 100%;
  display: block;
  justify-content: center;
  border-radius: 20px;
  padding: 30px;
  background-color: #8a0027;
  margin:auto;
  box-shadow: 5px 5px 20px black;
}


/* code for the divider borrowed from codepen https://codepen.io/Oddgson/pen/VPrYbv */
.divider
{
	position: relative;
	margin-top: 20px;
  margin-bottom: 40px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 15px;
	height: 15px;
	background-color:rgb(233, 76, 29);
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

.div-dot-black:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 15px;
	height: 15px;
	background-color: #333;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px rgb(233, 76, 29);
					0 0 0 4px rgb(233, 76, 29);
}
/* 
.row {
  justify-content: center;
} */

/* -----Skills---- */

.title-skills{
  margin-top: 20px;
  color: #333;
  padding-top: 5px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.category-title-fb {
  color: rgb(233, 76, 29);
  margin-bottom: 60px;
}

.category-title {
  color: rgb(233, 76, 29);
  margin-bottom: 30px;
}
.skills-container {
  margin-top: 60px;
  margin-left: 10px;
  height:fit-content;
  width:max-content;
}

.skill-list {
  display: block;
  color: rgb(233, 76, 29);
  text-align: left;
  padding-left: 0px;
}


.skill-list li {
  list-style: none;
    background: #eee;
    color: #333;
    display: inline-block;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    letter-spacing: 3px;
    font-family: 'montserrat-medium', sans-serif;
    margin-right: 1.5rem;
}

.skill-list a{
  margin: 5px 0px;
  
}

.skill-list i{
  color: #5e5b5b;
}


.card-header {
  background-color: #fafafa;
}

.skill-list ul {
  padding-left: 0px;
  
}

.editBtn {
  font-size: x-large;
  font-weight: 500;
  color: green;
}

.editBtn:hover {
  color: #333;
}

.letters{
  color: rgb(233, 76, 29);
}



/*-- Testimonials ---*/

.testimonials-container {
  margin:auto;
  padding: 60px;
  background-color: #fafafa;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
  box-shadow: 5px 5px 20px black;

}

#testimonials {
  padding: 70px 40px;
  background-color: #fafafa;
}

#testimonials p{
  color: #333;
  font-size: 20px;
}

#testimonials p{
  color: #333;
  font-size: 20px;
}

.bd-placeholder-img {
  margin-bottom: 20px;
}

.bin {
  color: #5e5b5b;
}



/* -- animated letters -- */
.ml10 {
  position: relative;
  font-weight: 700;
  font-size: 3em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

.hide {
  display: none;
}



/* -- Footer --*/
footer {
  /* background-image: url("/static/images/prism.png"); */
  text-align: center;
  padding: 35px;
  height: auto;
}
  
.contact-container {
  background-color: #8a0027;
  border-radius: 20px;
  box-shadow: 5px 5px 20px black;
  margin-bottom: 70px;
  height: max-content;

}

.contact i {
  color:#333;
  font-size: 35px;
  text-shadow: 1px 1px 1px #333;
}

.contact a {
  color:#fafafa;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-title {
  color: #fafafa;
  text-shadow: 3px 3px 3px #333;
  margin-bottom: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact p {
  font-weight: 500;
  color: #fafafa;
  text-shadow: 3px 3px 3px #333;
  margin-bottom: 30px;
}

.author {
  color: #fafafa;
  margin-bottom: 10px;
}


/* ---- Add skills page--*/

.dropdown button {
  width: 100%;
  font-size: 30px;
  margin-bottom: 30px;
  background: linear-gradient(225deg, #28282f, #212128);
}

.select-menu {
  width: 100%;
  background: linear-gradient(225deg, #28282f, #212128);
  height: 200px;
}

.select-item {
  color:rgb(233, 76, 29);
  font-size: 25px;
  border-radius: 5px;
}

.dropdown-item:hover {
  background-color: slategray;
}

/*------------------- flash messages ----------*/

.flashes {
   color: rgb(233, 76, 29);
  
}


.project-image {
  width: 100%;
  margin-top: 15px;
  /* width: 200px; */
  margin-bottom: 20px;
  
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: rgb(233, 76, 29);
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
}



/* stop animation on small devices*/
.noanimated {
  -webkit-animation-duration: none;
          animation-duration: none;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}


@media only screen and (max-width: 1000px) {
  /* .hamburger {
      display: block;
      border: 0;
      background-color: transparent;
      color: white;
      font-size: 30px;
      margin: 20px;
      align-self: flex-end;
  }

  ul {
      display: none;
      background-color: #2b2c38;
      margin: 0px;
  }

  ul.show {
      display: block;
      background-color: black;
      width: 100%;
  }

  nav {
      display: flex;
      flex-direction:row-reverse;
      
  }

  .logo {
      display: none;
  } */

  .letters {
    font-size: 40px;
  }
  

  .hero-text {
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 200px;
    padding: 20px;
    
  }

  .hero-area {
    height: 100%;
    align-items: center;
    padding: 50px 20px;
  }
  
  .socials {
    display: none;
  }
  .project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px;
}

.headshot-container {
  width: 100%;
  height: auto;
  margin-top: -20px;
  margin-bottom: 20px;
  /* margin-left:60px; */
  margin-right: 60px;
} 

.sub-section {
  margin: 20px 20px;
}

.testimonials-container {
  margin: 20px 20px;
}

.contact-container {
  margin: 20px 20px;
}

.skill-list  {
  background-color: transparent;
}
}

