{% extends "base.html" %}
{% block content %}

<section class="sub-section-alternative" id="projects">
    <h2 class="title">Projects</h2><br>
    <div class="project-container">
        <div class="project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/projectOne.jpg') }}"
                alt="Project One Image" />

            <h3>Eleventh Embodiment</h3><br>
            <p class="subtext">This is my project and some text about it. I enjoyed making this project.</p>
            <hr />
            <p class="subtext"><a class="project-link" href="https://tanya-go.github.io/eleventh-embodiment/" target="_blank">View
                    here</a></p>
        </div>
        <div class="project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/projectTwo.jpg') }}"
                alt="Project Two Image" />
            <h3>Movie Trivia Extravaganza</h3>
            <p class="subtext">This is my project and some text about it. I enjoyed making this project.</p>
            <hr />
            <p class="subtext"><a class="project-link" href="https://tanya-go.github.io/Movie-Quiz/" target="_blank">View here</a>
            </p>
        </div>
        <div class="project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/projectThree.jpg') }}"
                alt="Project Three Image" />
            <h3>Project Three</h3>
            <p class="subtext">This is my project and some text about it. I enjoyed making this project.</p>
            <hr />
            <p class="subtext"><a class="project-link" href="https://www.github.com/kubowania">View here</a></p>
        </div>
        <div class="project-card">
            <img class="project-image" src="{{ url_for('static', filename ='images/projectFour.png') }}"
                alt="Project Four Image" />
            <h3>Project Four</h3>
            <p class="subtext">This is my project and some text about it. I enjoyed making this project.</p>
            <hr />
            <p class="subtext"><a class="project-link" href="https://www.github.com/kubowania">View here</a></p>
        </div>
    </div>
</section>

{% endblock %}
