{% extends "base.html" %}
{% block content %}

      
        <section class="skills section" id="skills">
          <h2 class="text-center title-skills">Skills</h2>
           
          <div class="container skills-container">
              <div class="row">
                  <div class="col-12 col-md-4">
                         <ul class="skill-list">
                            <h3>Frontend</h3>
                            {% for skill in skills %}
                            <li> {{skill.skill_title}}</li>
                        {% endfor %}
                          </ul>
                    </div>
                  <div class="col-12 col-md-4">
                      
                    <ul class="skill-list">
                      <h3>Backend</h3>
                      {% for skill in skills %}
                      <li> {{skill.skill_title}} </li>
                  {% endfor %}
                    </ul>
                  </div>

                  <div class="col-12 col-md-4">
                    <ul class="skill-list">
                      <h3>Libraries & Frameworks</h3>
                      {% for skill in skills %}
                      <li> {{skill.skill_title}} </li>
                  {% endfor %}
                    </ul>
                </div>
              </div>
        </div>
  
        
          </section>
{% endblock %}
