{% extends "base.html" %}
{% block content %}

      <section class="skills section" id="skills">
        <h2 class="text-center title-skills">Skills</h2>
    
        <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  {% for skill in skills %}
                  <button class="btn btn-link editBtn btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-desktop"></i> {{skill.skill_category}} <i class="fas fa-caret-down"></i>
                  </button>
                </h2>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                
                    <ul class="skill-list">
                        <li>{{skill.skill_icon}} {{skill.skill_title}} </li>
                        
                  {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link editBtn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fas fa-cogs"></i> Backend <i class="fas fa-caret-down"></i>
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="skill-list ">
                      <li>Python</li>
                      <li>Django</li>
                      <li>MongoDB</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link editBtn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fas fa-crop-alt"></i> Libraries & Frameworks <i class="fas fa-caret-down"></i>
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="skill-list">
                        <li>Bootstrap</li>
                        <li>jQuery</li>
                        <li>Flask</li>
                        <li>Django</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
      
    </section>
{% endblock %}
