{% extends "base.html" %}
{% block content %}


    
      <div class="container skills-container">
        <h2 class="text-center title-skills">Skills</h2>
            <div class="row">
              <div class="col-12 col-md-4">
                <h3 class="category-title">Category Title</h3>
                <ul class="skill-list">
                  {% for skill in skills %}
                  <li> {{skill.skill_title}}: {{skill.skill_percentage}}%</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <h3 class="category-title">Category Title</h3>
                <ul class="skill-list">
                  {% for skill in skills %}
                  <li> {{skill.skill_title}}: {{skill.skill_percentage}}%</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-12 col-md-4">
                <h3 class="category-title">Category Title</h3>
                <ul class="skill-list">
                  {% for skill in skills %}
                  <li> {{skill.skill_title}}: {{skill.skill_percentage}}%</li>
                  {% endfor %}
                </ul>
              </div>
        </div>
{% endblock %}
