<footer class="container-fluid contact-container text-center" id="contact-me">
    <div class="row contact">
        <div class="col-12 col-sm-5 col-md-4 col-lg-4">
            <h4 class="contact-title">Download</h4>
            <h6 class="inline-block">Need a printable version of my CV? </h6>
            <h6>Download it here.</h6>
            <a href="/static/cv/cv.pdf" target="_blank"><i class="fas fa-download"></i></a></a>
        </div>

        <div class="col-12 col-sm-5 col-md-4 col-lg-4">
            <h4 class="contact-title">Contact</h4>
            <i class="fas fa-phone-alt"> <span id="phone">+353 85 555 5555</span></i> <br>
            <i class="far fa-envelope"> <span><a
                        href="mailto:tanja.godinic@gmail.com">tanja.godinic@gmail.com</a></span></i>

        </div>
        <div class="col-12 col-sm-5 col-md-4 col-lg-4 contact">
            <h4 class="contact-title">Follow</h4>
            <h6>Let's connect!</h6>
            <a href="https://www.linkedin.com/in/tanja-godinic" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/TanYa-Go" target="_blank"><i class="fab fa-github-square"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="divider div-transparent"></div>
    <div class="text-center author">Created with <i class="fas fa-heart"></i> by Tanya-Go</div>
</footer>