<nav class="navbar fixed-top" id="navbar">
    <img class="logo" src="{{ url_for('static', filename ='images/#') }}" alt="" />
    <ul id="nav-list">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('projects')}}">Projects</a></li>
        <li><a href="{{url_for('skills')}}">Skills</a></li>
       
        {% if session.user %}
            <li><a href="{{url_for('add_skill')}}">Add&nbsp;Skill</a></li>
            <li><a href="{{ url_for('dashboard', username=session['user']) }}">Dashboard</a></li>
            <li><a href="{{url_for('logout')}}">Log&nbsp;Out</a></li>
            
        {% else %}
            <li><a href="{{url_for('register')}}">Register</a></li>
            <li><a href="{{url_for('login')}}">Log&nbsp;In</a></li>
        {% endif %}
    </ul>
    <button class="hamburger" id="hamburger">
        <i class="fas fa-bars"></i>
    </button>
</nav>